main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img-vovo{
    margin: 1rem;
    width: 3rem;
    border-style: solid;
}

#img-cursor{
    margin: 1rem;
    width: 3rem;
    border-style: solid;
}

#img-cookie{
    width: 15rem;
}

#div-contrucoes{
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 0.5rem;
}

#picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#caption{
    color: black;
}